<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>iPhone Style Radios Demo</title>
  <script src="/javascripts/jquery/jquery-1.4.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery/iphone-style-checkboxes.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" charset="utf-8" />
  <style type="text/css">
    body {
      padding: 10px; }
    th {
      text-align: right;
      padding: 4px;
      padding-right: 15px;
      vertical-align: top; }
    .css_sized_container .iPhoneCheckContainer {
      width: 250px; }
  </style>

  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.long_tiny :checkbox').iphoneStyle({ checkedLabel: 'Published', uncheckedLabel: 'Unpublished' });
    });
  </script>
  
</head>
<body>
  <table>
    <tr class="long_tiny">
      <td>
        <input type="checkbox" id="long_tiny" />
      </td>
    </tr>
  </table>

</body>
</html>
